* {
	margin: 0;
	padding: 0;
}

html{
    height: 100%;
}

body {
    background-color: #c5e9f0;
    margin: 0;
    width: 100%;
    background-image: url(../images/background/background.png);
    background-position: left bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: absolute;
    z-index: 1;
    max-height: 100%;
}

header {
    top: 0px;
    left: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    height: 100px;
    max-height: 60px;
    background: linear-gradient(90deg,#f5b7ac,#f6dcdc);
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
}

h1 {
    color: #715656;
	font: 30px/30px 'Impact', sans-serif;
	margin: 10px;
    width: 500px;
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
    padding-left: 30px;
}

h4 {
    color: #715656;
	font: 20px/20px 'Impact', sans-serif;
	margin: 10px;
    width: 500px;
    padding-left: 30px;
}

.wrapper{
    width: 1250px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    min-height: 100%;
    height: auto;
    max-width: 90%;
}

.sidebar, .content, .sideunder {position: absolute;}

.sidebar{
    margin-left:0px;
    float:right;
    width:370px;
    max-width: 30%;
    position:relative;
    z-index: 2;
}

.block{
    background: azure;
    margin-bottom: 16px;
    width: 338px;
    padding: 16px;
    box-shadow: 0 5px 4px rgba(0, 0, 0, .2);
    border-radius: 20px;
}

.contentBlock{ 
    margin-bottom: 35px;
    width: 830px;
    border-bottom: 10px#715656;
}

.content{
    background: azure;
    float:left;
    width:830px;
    max-width: 65%;
    padding: 16px;
    margin-bottom: -110px;
    margin-right:0px;
    box-shadow: 0 5px 4px rgba(0, 0, 0, .2);
    border-radius: 20px;
    z-index: 2;
}

h2 {
    font: 30px/40px 'Impact', sans-serif;
    color:#f5b7ac;
    margin-top: 0px;
    margin-bottom: 15px;
}

p {
    color:#715656;
    font-size:larger;
    text-indent: 20px;
    margin-top: 0;
    margin-bottom: 10px;
}

h3 {
    color:#715656;
    font-size:25px;
    text-indent: 20px;
    margin-bottom: 30px;
}

.link {
    text-decoration: none;
}

.link:link{
    color:#715656;
}

.link:hover{
    color: #f5b7ac;
}

.link:active{
    color: #f5b7ac;
}

.linkp{
    text-indent: 0;
    margin-bottom: 0;
}

.image{
    margin-bottom: 20px;
}

@keyframes loading {
    0% {opacity: 0.9; right: 0px; top: 0px; border-radius: 100%;}
    12% {opacity: 0.7; right: 50px; top: 50px; border-radius: 25%;}
    25% {opacity: 0.5; right: 0px; top: 50px; border-radius: 0%;}
    37% {opacity: 0.3; right: 50px; top: 0px;border-radius: 25%;}
    50% {opacity: 0.1; right: 0px; top: 0px;border-radius: 100%;}
    62% {opacity: 0.3; right: 50px; top: 0px;border-radius: 25%;}
    75% {opacity: 0.5; right: 0px; top: 50px;border-radius: 0%;}
    87% {opacity: 0.7; right: 50px; top: 50px;border-radius: 25%;}
    100% {opacity: 0.9; right: 0px; top: 0px;border-radius: 100%;}
}
  
@-webkit-keyframes loading {
    0% {opacity: 0.9; right: 0px; top: 0px;}
    12% {opacity: 0.7; right: 50px; top: 50px;}
    25% {opacity: 0.5; right: 0px; top: 50px;}
    37% {opacity: 0.3; right: 50px; top: 0px;}
    50% {opacity: 0.1; right: 0px; top: 0px;}
    62% {opacity: 0.3; right: 50px; top: 0px;}
    75% {opacity: 0.5; right: 0px; top: 50px;}
    87% {opacity: 0.7; right: 50px; top: 50px;}
    100% {opacity: 0.9; right: 0px; top: 0px;}
}
  
.circle {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: relative;
    background-color: #f5b7ac;
    animation-name: loading;
    opacity: 1;
    animation-duration: 8s;
    animation-delay: 2s;
    animation-iteration-count: 20;
}
  
.container{
    width: 100wv;
    display: flex; 
    align-items: center;
    justify-content: center;
}